<%- include('./partials/header') %>

  <div class="about content">
    <h2> <%- title %> </h2>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur qui vel quas, veniam modi ipsa? Repellat
      laborum totam commodi autem.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur qui vel quas, veniam modi ipsa? Repellat
      laborum totam commodi autem.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur qui vel quas, veniam modi ipsa? Repellat
      laborum totam commodi autem.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur qui vel quas, veniam modi ipsa? Repellat
      laborum totam commodi autem.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur qui vel quas, veniam modi ipsa? Repellat
      laborum totam commodi autem.</p>
  </div>

  <%- include('./partials/footer') %>