
<%- include('./partials/header')  %>

<div class="about content">
  <form method="POST" action="/blogs">
    <!--  Title -->
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title">
    </div>

    <!--  Snippet -->
    <div class="mb-3">
      <label for="snippet" class="form-label">Snippet</label>
      <input type="tet" class="form-control" id="snippet" name="snippet">
    </div>

     <!--  Body -->
     <div class="mb-3">
      <label for="body" class="form-label"> Body</label>
      <textarea class="form-control" name="body" id="body" cols="30" rows="5"></textarea>
    </div>

    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
  </form>
</div>

<%-include('./partials/footer')  %>

